html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding-left: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 1rem;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
}

.content{
    min-height: 100vh;
    flex: 1;
}